.alg-title{
    text-align: center;
}

.alg-nav{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button-div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.graph-elemenet{
    display: flex;
    align-items: center;
    margin-top: -30px;
    justify-content: center;
    gap: 0;
}

#start-node{
    padding: 1px;
    max-width: 50px;
}

.node-input-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 0.5em;
}

p{
    font-size: 1.1em;
}

.control-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0.5em;
}

.control-buttons:focus, .control-buttons:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}